@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golostextregular.woff2') format('woff2'), 
         url('../fonts/Golostextregular.woff') format('woff'), 
         url('../fonts/Golostextregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golostextmedium.woff2') format('woff2'), 
         url('../fonts/Golostextmedium.woff') format('woff'), 
         url('../fonts/Golostextmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golostextdemibold.woff2') format('woff2'), 
         url('../fonts/Golostextdemibold.woff') format('woff'), 
         url('../fonts/Golostextdemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golostextbold.woff2') format('woff2'), 
         url('../fonts/Golostextbold.woff') format('woff'), 
         url('../fonts/Golostextbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golostextblack.woff2') format('woff2'), 
         url('../fonts/Golostextblack.woff') format('woff'), 
         url('../fonts/Golostextblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

*,*::before,*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, body{
    height: 100%;
    line-height: 1;
    overflow-x: hidden;
}
body {
    font-family: 'Golos Text', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
	line-height: 24px;
    color: #000;
}
section{
    position: relative;
    margin-bottom: 100px;
}
.wrapper {
    position: relative;
    width: 90%;
    max-width: 1500px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header{
    position: relative;
}
.header__box{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: -15px;
    margin-right: -15px;
}
.header__logo{
    max-width: 212px;
    padding-left: 15px;
    padding-right: 15px;
}
.menu{
    position: relative;
    flex: 0 0 63%;
    max-width: 63%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 31px;
    padding-bottom: 19px;
}
.menu__list{
    display: flex;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e5e5e5;
}
.menu__list__link{
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
.menu__social{
    display: flex;
    justify-content: flex-end;
    padding-top: 18px;
    margin-right: -19px;
}
.menu__social__link{
    padding-right: 19px;
}
.menu__social__icon{
    width: 24px;
    height: 24px;
}
.hero{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.hero__box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 610px;
    margin-left: -15px;
    margin-right: -15px;
}
.hero__box__items{
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
}
.hero__box__items:first-child{
    justify-content: flex-start;
}
.hero__box__items:last-child{
    padding-right: 25px;
}
.hero__box__circle{
    position: absolute;
    height: 218px;
    width: 218px;
    background-color: #000;
    border-radius: 50%;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
}
.hero__box__circle_top{
    top: 22px;
}
.hero__box__circle_center{
    top: 170px;
}
.hero__box__circle_bottom{
    top: 275px;
}
.hero__box__title{
    line-height: 18px;
    padding-bottom: 22px;
}
.hero__box_price{
    font-size: 48px;
    line-height: 14px;
}
.hero__box_price span{
    font-size: 18px;
    line-height: 14px;
    padding-left: 8px;
}
.hero__bottom{
    position: absolute;
    bottom: -25px;
    right: 50px;
}
.hero__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 371px;
    max-width: 371px;
    background-color: #ae5a4d;
    color: #ffffff;
    font-size: 24px;
    line-height: 18px;
}
.section-head{
    font-size: 48px;
    line-height: 75%;
    padding-bottom: 30px;
}
.box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;
}
.column__half{
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 25px;
    padding-right: 25px;
}
.category__inner{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.category__inner_first{
    padding-top: 565px;
    margin-bottom: 50px;
}
.category__inner_second{
    padding-top: 369px;
}
.category__inner_third{
    padding-top: 310px;
}
.category__link{
    position: absolute;
    left: 15px;
    bottom: 20px;
    background-color: #ffffff;
    width: 202px;
    height: 40px;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0 50%, 0% 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    line-height: 18px;
}
.category__box{
    display: flex;
    padding-top: 45px;
}
.category__box__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 50%;
    flex: 0 0 111px;
    max-width: 111px;
    height: 111px;
}
.category__box__icon{
    width:48px;
    height:64px;
}
.category__box__content{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.category__box__title{
    font-size: 21px;
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 24px;
}
.category__box__text{
    font-size: 14px;
    line-height: 18px;
}
.category__application{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    padding: 50px 0 45px 0;
    margin-bottom: 49px;
}
.category__application__title{
    font-size: 28px;
    line-height: 30px;
    padding-bottom: 29px;
    text-align: center;
    max-width: 625px;
}
.category__application__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 375px;
    max-width: 375px;
    background-color: #ae5a4d;
    color: #ffffff;
    font-size: 24px;
    line-height: 18px;
}
.benefits-box{
    display: flex;
    flex-wrap: wrap;
    margin-left: -23px;
    margin-right: -23px;
}
.benefits__column{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-left: 23px;
    padding-right: 23px;
}
.benefits__column__inner{
    background-color: #f0f0f0;
    padding: 31px 0 41px 18px;
}
.benefits__column__circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefits__column__title{
    font-size: 30px;
    line-height: 18px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 24px;
}
.benefits__column__text{
    font-size: 14px;
    line-height: 18px;
}
.topweek{
    background-color: #f0f0f0;
    padding: 98px 0 99px 0;
    margin-bottom: 100px;
}
.topweek__img{
    padding-top: 565px;
}
.topweek__title{
    font-size: 36px;
    line-height: 36px;
    text-decoration: underline;
    color: #000000;
}
.topweek__price{
    position: relative;
    max-width: max-content;
    margin-top: 59px;
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 75%;
}
.topweek__price:before{
    content: '';
    position: absolute;
    width: 120%;
    left: 0;
    top: 10px;
    transform: translateX(-10%) rotate(-30deg);
    height: 4px;
    background-color: #000000;
    z-index: 1;
}
.topweek__sale{
    font-size: 100px;
    line-height: 75%;
    padding-bottom: 14px;
}
.topweek__sale span{
    font-size: 24px;
    line-height: 75%;
}
.topweek__basket{
    background-color: #009b4a;
    width: 235px;
    max-width: 235px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 61px;
}
.topweek__basket:hover{
    cursor: pointer;
}
.topweek__basket__icon{
    width: 26px;
    height: 22px;
}
.topweek__basket__title{
    padding-left: 8px;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}
.topweek__discount{
    display: flex;
    align-items: flex-end;
    background-color: #000000;
    width: 286px;
    max-width: 286px;
    height: 100px;
    padding: 0 0 19px 21px;
    color: #ffffff;
    font-size: 21px;
    line-height: 24px;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0 50%, 0% 0%);
}
.catalog__cover{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 430px;
    margin-bottom: 22px;
}
.catalog__title{
    display: block;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
.catalog__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog__footer__price{
    font-size: 48px;
    line-height: 75%;
    font-weight: 500;
}
.catalog__footer__price span{
    font-size: 18px;
    line-height: 75%;
    font-weight: 400;
}
.catalog__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009b4a;
    border-radius: 50%;
    width: 65px;
    max-width: 65px;
    height: 65px;
}
.catalog__circle:hover{
    cursor: pointer;
}
.benefits__column_mb{
    margin-bottom: 70px;
}
.letter__inner{
    padding: 37px 50px 47px 50px;
    border: 3px solid #000000;
}
.letter__box{
    display: flex;
    align-items: flex-start;
    padding-bottom: 32px;
}
.letter__box__icon{
    flex: 0 0 56px;
    width: 56px;
    height: 61px;
}
.letter__title{
    padding-left: 16px;
    font-size: 28px;
    line-height: 30px;
    font-weight: 500;
}
.letter__form{
    display: flex;
    max-width: 100%;
    flex-direction: column;
}
.letter__input{
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 60px;
    border: 1px solid #d6d6d6;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 18px;
    color: #d6d6d6;
}
.letter__textarea{
    max-width: 100%;
    height: 190px;
    border: 1px solid #d6d6d6;
    padding: 20px 0 0 20px;
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 18px;
    color: #d6d6d6;
}
.letter__btn{
    max-width: 100%;
    height: 70px;
    background-color: #ae5a4d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 18px;
    color: #ffffff;
}
.letter__btn:hover{
    cursor: pointer;
}
.letter__column{
    display: flex;
    align-items: center;
}
.letter__text{
    font-size: 44px;
    line-height: 100%;
}
.letter__icon{
    position: absolute;
    left: 69px;
    top: 125px;
    width: 128px;
    height: 114px;
}
.letter__svg{
    position: absolute;
    left: 296px;
    bottom: 133px;
    width: 139px;
    height: 120px;
}
.reviews__head{
    display: flex;
    padding-bottom: 18px;
}
.reviews__head__box{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}
.reviews__head__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 75%;
    padding-bottom: 3px;
}
.reviews__head__subtitle{
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
}
.reviews__content{
    font-size: 18px;
    line-height: 24px;
}
.footer{
    padding: 50px 0 135px 0;
    background-color: #f0f0f0;
}
.footer__menu{
    padding-bottom: 205px;
}
.footer__menu__list{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    padding-bottom: 48px;
    border-bottom: 1px solid #e5e5e5;
}
.menu__social_footer{
    justify-content: flex-start;
    padding-top: 55px;
}
.footer__column{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 24px;
}
.footer__link{
    color: #000;
    text-decoration: underline;
}
.footer__phone{
    color: #000;
}
.footer__address{
    font-size: 18px;
    line-height: 24px; 
}
.breadcrumbs{
    padding-top: 10px;
    margin-bottom: 50px;
}
.breadcrumbs__list{
    display: flex;
}
.breadcrumbs__list__items{
    display: flex;
    align-items: center;
    padding-right: 35px;
}
.breadcrumbs__list__items:last-child{
    padding-right: 0;
}
.breadcrumbs__list__items:after{
    content: "•";
    width: 10px;
    height: 10px;
    font-size: 29px;
    line-height: 75%;
    text-align: center;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.breadcrumbs__list__items:last-child:after{
    content: "";
}
.breadcrumbs__list__link{
    font-size: 18px;
    line-height: 75%;
    color: #000;
    padding-right: 35px;
    transition: 0.3 all;
}
.info{
    padding: 50px 0;
    background-color: #f0f0f0;
    margin-bottom: 50px;
}
.info__box{
    display: flex;
    align-items: center;
}
.info__box__icon{
    display: flex;
    content: "";
    flex: 0 0 190px;
    max-width: 190px;
    height: 190px;
    background-color: #ffffff;
    border-radius: 50%;
}
.info__box__text{
    padding-left: 25px;
    font-size: 16px;
    line-height: 24px;
}
.info__box__text p{
    padding-bottom: 33px;
}
.info__box__text p:last-child{
    padding-bottom: 0;
}
.catalog__plan{
    position: absolute;
    right: 11px;
    top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    width: 179px;
    max-width: 179px;
    height: 30px;
}
.catalog__plan__title{
    font-size: 14px;
    line-height: 24px;
}
.catalog_border{
    margin-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
}
.pagination__list{
    display: flex;
}
.pagination__list__items{
    padding-right: 23px;
}
.pagination__list__items:last-child{
    padding-right: 0;
}
.pagination__list__items__link{
    display: block;
    font-size: 18px;
    line-height: 18px;
    color: #000;
}
.news{
    margin-bottom: 50px;
}
.news__items{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
}
.news__items_first{
    padding-top: 0;
}
.news__box{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}
.news__box__pic{
    flex: 0 0 36%;
    max-width: 36%;
    padding-left: 20px;
    padding-right: 20px;
}
.news__box__img{
    object-fit: cover;
    width: 100%;
    height: 250px;
}
.news__box__content{
    flex: 0 0 64%;
    max-width: 64%;
    padding-left: 20px;
    padding-right: 20px;
}
.news__box__data{
    display: block;
    font-size: 60px;
    line-height: 115%;
    padding-bottom: 25px;
}
.news__box__title{
    display: block;
    font-size: 24px;
    line-height: 31px;
    color: #000;
    text-decoration: underline;
    transition: 0.3s all;
}
.sale__box{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}
.sale__box__column{
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    color: #000;
}
.sale__fullwidth{
    display: block;
    margin-bottom: 50px;
}
.sale__box__img{
    object-fit: cover;
    width: 100%;
    height: 717px;
}
.sale__fullwidth__img{
    object-fit: cover;
    width: 100%;
    height: 660px;
}
.sale__box__status{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    margin-top: 13px;
    width: 134px;
    max-width: 134px;
    height: 40px;
}
.sale__box__title{
    display: block;
    max-width: 80%;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    margin-top: 19px;
}
.contacts__maps{
    height: 628px;
    margin-bottom: 50px;
}
.contacts__maps__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.contacts__address{
    display: flex;
    align-items: center;
    background-color: #000000;
    width: 100%;
    max-width: 507px;
    height: 90px;
    color: #ffffff;
    font-size: 30px;
    line-height: 18px;
    padding-left: 21px;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 0 50%, 0% 0%);
}
.contacts_info{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    line-height: 36px;
}
.contacts__link{
    display: block;
    color: #000;
    transition: 0.3s all;
}
.contacts_mail{
    text-decoration: underline;
}
.contacts__social{
    display: flex;
    align-items: center;
    padding-top: 45px;
}
.contacts__social__link{
    display: flex;
    align-items: center;
    color: #000;
    margin-right: 40px;
}
.contacts__social__link:last-child{
    margin-right: 0;
}
.contacts__social__title{
    padding-left: 10px; 
}
.info_about{
    padding: 0;
    background-color: #ffffff;
    margin-bottom: 100px;
}
.info__box_start{
    align-items: flex-start;
}
.about__authorimg{
    border-radius: 50%;
}
.about_desc p{
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 38px;
}
p.about__author{
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    padding-bottom: 11px;
}
p.about__profession{
    font-size: 18px;
    line-height: 18px;
}
.about__img{
    object-fit: cover;
    width: 100%;
    height: 675px;
}
.about__content p{
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 55px;
}
.about__content p:last-child{
    padding-bottom: 0;
}
.column__half_bottom{
    margin-bottom: 50px;
}
.directory__img{
    object-fit: cover;
    width: 100%;
    height: 355px;
}
.directory__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    max-width: 100%;
    background-color: #ae5a4d;
    color: #ffffff;
    font-size: 24px;
    line-height: 18px;
}
.directory_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    line-height: 36px;
}
.bgimg{
    padding-top: 871px;
    background-image: url(../img/bgimg.jpg);
    background-size: cover;
    margin-bottom: 0;
}
.cart__box{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}
.cart__box__pic{
    flex: 0 0 69%;
    max-width: 69%;
    padding-left: 20px;
    padding-right: 20px;
}
.cart__box__sidebar{
    flex: 0 0 31%;
    max-width: 31%;
    padding-left: 20px;
    padding-right: 20px;
}
.cart__box__title{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 35px;
}
.cart__slider{
    margin-bottom: 20px;
}
.cart__slider__img{
    object-fit: cover;
    width: 100%;
    height: 690px;
}
.cart__sliderprev{
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}
.cart__sliderprev__items{
    height: 110px;
    width: 110px;
    margin-left: 10px;
    margin-right: 10px;
}
.cart__sliderprev__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cart__content{
    padding-bottom: 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid #f0f0f0;
}
.cart__content_bottom{
    border: none;
    padding-bottom: 45px;
    margin-bottom: 0;
}
.cart__content__link__icon{
    flex: 0 0 28px;
    max-width: 28px;
    height: 28px;
}
.cart__content__link{
    display: flex;
    color: #000;
}
.cart__content__phone{
    padding-left: 20px;
}
.cart__content__phone small{
    font-size: 14px;
    line-height: 18px;
    opacity: 0.5;
}
.cart__content h3{
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    padding-bottom: 7px;
}
.cart__content p{
    font-size: 14px;
    line-height: 18px;
}
.cart__content__phone p{
    font-size: 30px;
    line-height: 75%;
}
.color__box{
    display: flex;
}
.color__box__link{
    width: 35px;
    height: 35px;
    margin-right: 9px;
}
.cart__content__btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100%;
    max-width: 357px;
    background-color: #ae5a4d;
    color: #ffffff;
}
.cart__content__btn:hover{
    cursor: pointer;
}
.cart__content__btn p{
    font-size: 13px;
    line-height: 75%;
}
.cart__content__plan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    width: 100%;
    max-width: 179px;
    height: 40px;
    margin-bottom: 8px;
}
.cart__content__plan__title{
    font-size: 14px;
    line-height: 24px;
}
.cart__content__box{
    display: flex;
}
.cart__content__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
    max-width: 50px;
    height: 50px;
    background-color: #ae5a4d;
    border-radius: 50%;
}
.cart__content__box p{
    margin-left: 19px;
    font-size: 14px;
    line-height: 18px;
}
.cart__content__box__link{
    text-decoration: underline;
    color: #000;
}
.cart__price{
    font-size: 100px;
    line-height: 75%;
    padding-bottom: 14px;
}
.cart__price span{
    font-size: 24px;
    line-height: 75%;
}
.topweek__basket_bottom{
    margin-bottom: 0;
}